"""{{ project_name }} configuration settings."""

__version__ = "0.0.0"
APP_NAME = "{{ project_name }}"
APP_VERSION = __version__
APP_ORGANIZATION = "{{ author_organization }}"
APP_AUTHOR = "{{ author_fullname }}"
FONT = "Tahoma"
LOG_LEVEL = "INFO"
