"""{{ project_name }} configuration settings."""

__version__ = "0.1.0"
PACKAGE_NAME = "{{ project_name }}"
PACKAGE_VERSION = __version__
PACKAGE_ORGANIZATION = "{{ author_organization }}"
PACKAGE_AUTHOR = "{{ author_fullname }}"
LOG_LEVEL = "INFO"
