### Notes

* The Windows apps are not signed and might throw an error on launch
* Application might have bugs and should be tested thoroughly

Download
----------
|                                                                        File                                                                         |       Platform      |
|:---------------------------------------------------------------------------------------------------------------------------------------------------:|:-------------------:|
| [ {{ project_name }}_aarch64.dmg ]( https://github.com/{{ repository_namespace }}/{{ repository_name }}/releases/download/[UNRELEASED]/{{ project_name }}_aarch64.dmg  ) | Apple Silicon macOS |
|  [ {{ project_name }}_x86_64.dmg ]( https://github.com/{{ repository_namespace }}/{{ repository_name }}/releases/download/[UNRELEASED]/{{ project_name }}_x86_64.dmg  )  | Intel macOS         |
|     [ {{ project_name }}_x64.zip ]( https://github.com/{{ repository_namespace }}/{{ repository_name }}/releases/download/[UNRELEASED]/{{ project_name }}_x64.zip  )     | x64 Windows         |
|   [ {{ project_name }}_arm64.zip ]( https://github.com/{{ repository_namespace }}/{{ repository_name }}/releases/download/[UNRELEASED]/{{ project_name }}_arm64.zip  )   | ARM Windows         |
